{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}
<body>
    <h1>Search for a Recipe</h1>
    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="search-button" class="btn submit">Search</button>
    </form>
    {% if recipes %}
    <h2>Search Results:</h2>
    <ul class='results'>
        {% for recipe_data in recipes %}
            <li>
                {{ recipe_data.title }}
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="recipe_id" value="{{ recipe_data.id }}">
                    <button type="submit" name="add-button" class="btn">Add</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
{% endblock %}

