{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/recipes/recipe-detail.css' %}" />
{% endblock %}

{% block content %}
<section class="recipe-container">
    <div class="recipe-img">
        <img src={{ recipe.image}} alt="A picture of {{recipe.name}}" class="recipe-img"/>
    </div>
    <div class="recipe-details">
        <h1>{{ recipe.name }}</h1>
        <p>{{ recipe.cuisine }}</p>
        <h2>Ingredients:</h2>
        <h3>{{ recipe.ingredients|linebreaksbr }}</h3>
        <h2>Instructions:</h2>
        <h3>{{ recipe.instructions|linebreaksbr }}</h3>


        <div class="recipe-actions">
            <a href="{% url 'recipe-update' recipe.id %}" class="btn warn">Edit</a>
            <a href="{% url 'recipe-delete' recipe.id %}" class="btn danger">Delete</a>
        </div>
    </div>
</section>
{% endblock %}
